body {
    background-image: url(../assets/bg-main-mobile.png);
    background-position-x: -20px;
    background-position-y: -270px;;
    width: 100%;
    margin: 0 auto;
    min-width: 375px;
    max-width: 375px;
    font-family: $font;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}
h3 {
    font-size: 65px;
    font-weight: bold;
    // margin-bottom: 1rem;
    span {
        font-size: 20px;
        font-weight: 400;
    }
}
.center {
    margin: 0 auto;
}
header {
    // margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 4rem;;
    width: 80%;

}
.price {
    margin: 3rem 0;
}

button {
    width: 100%;
    margin: .5rem 0;
    border-radius: 1rem;
    height: 61px;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    align-content: center;
    p{
        margin: 0;
    }
    img {
        width: 7%;
        // height: 100%;
    }
}
.black {
    background-color: $color-black;
    color: $color-white;
    margin-top: 1rem;
}
.white {
    margin-top: 1rem;
}
.white:hover {
    background-color: $color-light-orange;

}
button:hover {
    cursor: pointer;
    background-color: $color-cyan;
}
p {
    max-width: 825px ;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.first {
    margin: 0 auto;
    width: 80%;
}
.flex {
    display: flex;
    align-items: center;
    p {
        margin-bottom: 0;
    }
}
.illustration {
    margin: 0 auto;
    width: 70%;
    max-width: 312px;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -120%);
}
section {
    background-color: $color-black;
    background-image: url(../assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;

    // .flex {
    //     margin: 1rem 0;
    // }
}
.space {
    margin-top: 200px;
    min-height: 400px;
}
.logo {
    width: 146px;
    margin: 2rem 0;
}
.card {
    color: $color-white;
    background-color: $color-orange;
    border-radius: 1rem;
    padding: 2rem;
}
strong {
    font-weight: bold;
}

footer {
    margin: 2rem auto;
    width: 80%;
    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
    align-items: flex-start;
    ul {
        margin-top: 3rem;
        img {
            width: 20px;
        }
    }

    .flex {
        gap: 1rem;
        align-items: flex-start;
    }
    p {
        margin: 0;
    }

}

ul li img:hover {
    cursor: pointer;
    fill: $color-light-orange;
}
