@media screen and (min-width: 1310px) {
    html {
        margin: 0 auto;
        max-width: 1440px;
        position: relative;
    }
    body {
        max-width: 1010px;

    }
    main::before {
        background-position-x: 0px;
    }
    h1 {
        font-size: 88px;
    }
    p {
        font-size: 20px;
    }
    .first {
        width: 100%;
        max-width: 1010px;;
    }
    .space {
        min-height: 600px;
        margin-top: 17rem;
    }
    .illustration {
        transform: translate(-130%, -75%);
    }
    .card {
        transform: translate( 10%, -20%);
    }
    // .flex-start {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    // }
    footer {
        margin-top: 17rem;
        margin-bottom: 7rem;
        // row-gap: 50px;
        .flex-start {
            grid-area: down-left;
            align-self: start;
            img {
                margin:0;
            }
        }
    }
    .paragraph {
        grid-area: down-center;
        p {
            min-width: 366px;
        }
    }
}