footer {
    margin: 2rem auto;
    width: 80%;
    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
    align-items: flex-start;
    ul {
        margin-top: 3rem;
        img {
            width: 20px;
        }
    }
    .flex {
        gap: 1rem;
        align-items: flex-start;
    }
    p {
        margin: 0;
    }

}
