$font: 'IBM Plex Sans', sans-serif;

$color-orange: hsl(12%, 94%, 65%);
$color-light-orange: hsl(33%, 100%, 70%);
$color-cyan: hsl(177%, 68%, 64%);
$color-black: hsl(244%, 23%, 12%);
$color-white: hsl(20%, 33%, 98%);